body{
  background-color:#000000;
  color:white;
}

#tit{
  text-align:center;
  color:#e2889b;
}

 #mundilibb{
  text-align:center;
   color:#ffc1d3;
  
}

#estudiantes{
  text-align:center;
   color:#ffc1d3;
  
}

.d1{
  text-align:center;
}
